= form_tag root_path do
  .container.translator
    .left
    .right
      = render 'vendors'
    .left
      = select_tag 'translation[from]', options_for_from_lang, class: 'from'
      = text_area_tag 'translation[text]', @text, id: 'input'
    .right
      = select_tag 'translation[to]', options_for_to_lang, class: 'to'
      #output
        = @result
    .left
      .controls
        = button_tag 'Clear', type: 'button', class: 'clear', onclick: "clearInput();"
        = submit_tag 'Translate', class: 'submit'

:javascript
  function clearInput(){
     document.getElementById("input").value = "";
     document.getElementById("output").innerHTML = "";
  };
